{% extends "festival/subpage_template.html" %}
{% load static %}

{% block title %}푸앙이를 찾아라{% endblock %}

{% block content %}

<div id="container__cau-image">
  <img id="cau_image" src="{% static "images/finding_puang_1_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_2_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_3_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_4_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_5_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_6_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_7_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_8_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_9_70.jpg" %}" />
  <img id="cau_image" src="{% static "images/finding_puang_10_70.jpg" %}" />
</div>

{% endblock %}
