<html>
  {% load static %}

  <head>
    <title>2021 중앙대학교 안성캠퍼스 봄축제 봄이 왔나, 봄</title>
    <meta property="og:title" content="메인 페이지" />
    <meta property="og:type" content="festival.index" />
    <meta property="og:image" content="{% static "images/cau_road_map_85.jpg" %}" />
    <meta property="og:description"
          content="2021 중앙대학교 안성캠퍼스 봄축제 봄이 왔나, 봄 로드맵 웹사이트"/>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {% include 'festival/popup_template.html' %}

    {% block content %}

    <div id="container__cau-road-map-bg">
      <svg viewBox="0 0 1800 1800">
        <image xlink:href="{% static "images/cau_road_map_85.jpg" %}" alt="cau road map" />

        <!-- 상->하 (좌->우) 방향으로 clickable rect 태그 배치 -->
        {% for content in contents %}
        <a
          xlink:href="{{content.url}}"
          target="_blank"
          {% if content.popup == True %}
          onclick="window.open(this.href, '_blank', 'width=560px,height=315px,toolbars=no,scrollbars=no,allowfullscreen'); return false;"
          {% endif %}
          ><rect width="150" height="150" x="{{content.x}}" y="{{content.y}}" /></a
        >
        {% endfor %}
      </svg>
    </div>

    {% endblock %}

  </body>
</html>
