{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - 중앙대학교 안성캠퍼스 '21 봄축제</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/subpage_style.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google web font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
