.link_w {
  font-size: 11px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  line-height: 1.2;
  text-decoration: none;
}
.link_w A:link {
  font-size: 11px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  line-height: 1.2;
  text-decoration: none;
}
.link_w A:visited {
  font-size: 11px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  line-height: 1.2;
  text-decoration: none;
}
.link_w A:active {
  font-size: 11px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  line-height: 1.2;
  text-decoration: none;
}
.link_w A:hover {
  font-size: 11px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  line-height: 1.2;
  text-decoration: underline;
}
.container__popup {
  width: 350;
  height: 350;
  max-width: 400px;
  max-height: 400px;

  width: auto;
  height: 359px;
  background: #ccc;
  /* resize:both; */
  overflow:auto; /* something other than visible */
  /* line-height: 150px; */
}
.popup-image {
  /* width: 50%; */
  /* max-width: 400px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: block; */
  width: 340;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
