#container__cau-road-map-bg {
  /* width: 70%;
  height: 200px;
  overflow: hidden; */
}
#container__cau-road-map-bg img {
  /* max-width: 100%;
  height: auto;
  display: block; */
}
body {
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */

  /* overflow-y: hidden ! important; */
  /* overflow-x: hidden ! important; */
  /* background-color: #f8f8f8; */
  /*background-image: url('index.png'); */
  /*background-size: cover;*/
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: right; */

  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
}

/* Make svg image fit to window */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
svg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
image {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* end of fit to window */

rect {
  fill-opacity: 0.5;
}
