/* Make svg image fit to window */
html,
body {
  /* min-height: 59px; */
  height: 100vh;
  /* width: 100vw; */
  margin: 0;
  overflow-y: auto;
  background-color: #F3F5FC;
}
#container__cau-road-map-bg {
  /* min-height: 59px; */
  height: 100vh;
  /* width: 100vw; */
  margin: 0;
  overflow-y: auto;
}
svg {
  display:block;
  /* overflow: hidden; */
}
image {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* end of fit to window */

rect {
  fill-opacity: 0;
}
